@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Koulen&family=Permanent+Marker&family=Rock+Salt&family=Rubik+Glitch&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* -------Reseteo------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}
/* -------Variables--------- */
:root {
    --naranja: rgb(255, 103, 0);
    --grisclaro: rgb(235, 235, 235);
    --grisoscuro: rgb(192, 192, 192);
    --celeste: rgb(58, 110, 165);
    --celesteoscuro: rgb(0, 78, 152);
    --amarillo: rgb(248, 175, 9);
    --grisoscuro2: rgb(120, 120, 120);
    --negro: rgb(22, 22, 22);
    --font1: 'Mukta', sans-serif;
    --font2: 'Koulen', cursive;
    --font3: 'Audiowide', cursive;
    --font4: 'Koulen', cursive;
    --font5: 'Permanent Marker', cursive;
    --font6: 'Rock Salt', cursive;
    --font7: 'Rubik Glitch', cursive;
}
@keyframes latido {
    0% {box-shadow: 4px 4px 4px 1px var(--naranja);}
    30% {box-shadow: 4px 4px 4px 2px rgba(255, 166, 0, 0.623);}
    45% {box-shadow: 3px 3px 3px 2px var(--amarillo);}
    65% {box-shadow: 3px 3px 3px 2px var(--naranja);}    
    80% {box-shadow: 4px 4px 4px 2px var(red);}
    90% {box-shadow: 4px 4px 4px 2px var(--naranja);}
    100% {box-shadow: 4px 4px 4px 2px var(--naranja);}
}
@keyframes latido2 {
    0% {box-shadow: 1px 1px 1px 1px var(--naranja);}
    30% {box-shadow: 1px 1px 1px 1px rgba(255, 166, 0, 0.623);}
    45% {box-shadow: 1px 1px 1px 1px var(--amarillo);}
    65% {box-shadow: 1px 1px 1px 1px var(--naranja);}    
    80% {box-shadow: 1px 1px 1px 1px var(red);}
    90% {box-shadow: 1px 1px 1px 1px var(--naranja);}
    100% {box-shadow: 1px 1px 1px 1px var(--naranja);}
}
/* ------Mobile------ */
@media (min-width:1024px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        background: url(../imagenes/headertesteo2.png)no-repeat center center;
        background-size: cover;
        width: 100%;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
        height: 16rem;
    }
    .logo {
        border-radius: 50%;
        width: 10rem;
        margin-right: 6rem;
        margin-top: 1rem;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
    }
     /* ------------menu y nav---------------------- */
     .menu-btn {        
        display: none;
    }
    .fa-bars {
        display: none;
    }
    .menu-toogle {
        display: none;
    }
    .ul_Menu {
        display: flex;
        list-style: none;
        padding: 15px;
        margin-left: -4rem;
        

    }
    .li_Menu {
        margin: 15px;
        font-size: 1.5rem;
        padding: 10px;        
        text-align: center;
        border-radius: 12px;
    }
    
    .li_Menu a {
        text-decoration: none;
        color: var(--grisclaro);
    }
    .li_Menu a:hover {
        color: var(--naranja);
    }
    /* ---------------------------------- */
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 40rem;
        background: rgb(245, 245, 245);
        margin-top: -4rem;
        border-radius: 1rem;
    }
    .datos {
        display: flex;
        flex-direction: column;
        height: 10rem;
    }

  

    
    
      /* --------------footer-------------------- */
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

    }
     /* ---------------------------------- */
    

}
@media (min-width:815px) and (max-width:1100px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        background: url(../imagenes/headertesteo2.png)no-repeat center center;
        background-size: cover;
        width: 100%;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
        height: 16rem;
    }
    .logo {
        border-radius: 50%;
        width: 10rem;
        margin-right: 6rem;
        margin-top: 1rem;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
    }
     /* ------------menu y nav---------------------- */
     .menu-btn {        
        display: none;
    }
    .fa-bars {
        display: none;
    }
    .menu-toogle {
        display: none;
    }
    .ul_Menu {
        display: flex;
        list-style: none;
        padding: 15px;
        margin-left: -1rem;
        

    }
    .li_Menu {
        margin: 10px;
        font-size: 1.2rem;
        padding: 5px;        
        text-align: center;
        border-radius: 12px;
    }
    
    .li_Menu a {
        text-decoration: none;
        color: var(--grisclaro);
    }
    .li_Menu a:hover {
        color: var(--naranja);
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        background: rgb(245, 245, 245);
        margin-top: -4rem;
        border-radius: 1rem;
        
    }
    
}

@media (min-width:600px) and (max-width:815px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background: url(../imagenes/headertesteo2.png)no-repeat center center;
        background-size: cover;
        width: 100%;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
        height: 16rem;
    }
    .logo {
        border-radius: 50%;
        width: 10rem;
        margin-right: 6rem;
        margin-top: 1rem;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
    }
    /* ------------menu y nav---------------------- */
    .box_Menu {
        position: fixed;
        height: 10vh;
        width: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        text-align: center;
       
        
    }
    .box_Menu ul li {
        list-style: none;
        cursor: pointer;        
        transform: translateY(-32rem);
        transition: transform 0.6s ease;
    }
    .box_Menu ul li:hover {
        color: var(--naranja);
    }
    
    #menu-toogle {
        display: none;
    }
    
    .rayas {
        background: var(--grisclaro);
        height: 5px;
        width: 35px;
        margin: 5px;
        transition: transform 0.5s;
        border-radius: 0.6rem;
        box-shadow: 2px 2px 2px 1px var(--negro);
    }
        
    .menu_Hamburguesa {
        position: fixed;
        top: 0.8rem;
        left: 1rem;
        cursor: pointer;
        transition: 0.3s ease;
        z-index: 99;
    } 

    .menu_Hamburguesa:hover div {
        background: var(--naranja);
    }
    
    .menu-toogle:checked ~ .box_Menu {
        height: 19rem;
        width: 90%;
        background:var(--grisoscuro);
        z-index: 1;
        opacity: 95%;
        position: fixed;
        left: 1rem;
        top: 7.5rem;
        border-radius: 1.2rem;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
    }
  
    .menu-toogle:checked ~ label {
        left: 0rem;
    }
    
    .menu-toogle:checked ~ .box_Menu ul li {
        transform: translateY(0rem);
        opacity: 1;
        text-align: center;
    }
    
    .menu-toogle:checked ~ label > div:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 18px;
        background: var(--naranja);      
    }
      
      .menu-toogle:checked ~  label > div:nth-child(2) {
        opacity: 0;
    }
      
      .menu-toogle:checked ~ label > div:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -20px;
        background: var(--naranja);       
    }
    .li_Menu a {
        text-decoration: none;
        color: var(--negro);
        font-size: 1.6rem;
        font-family: var(--font2);
    }
    .li_Menu {
        padding: 0.5rem;
        text-align: center;
    }
    /* ---------------------------------- */
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        background: rgb(245, 245, 245);
        margin-top: -4rem;
        border-radius: 1rem;
        
    }
    

      /* --------------footer-------------------- */
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

    }
     /* ---------------------------------- */

}

@media (max-width:600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        background: url(../imagenes/headertesteo2.png)no-repeat center center;
        background-size: cover;
        width: 100%;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
        height: 16rem;
    }

    /* ------------menu y nav---------------------- */
    .box_Menu {
        position: fixed;
        height: 10vh;
        width: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        text-align: center;
       
        
    }
    .box_Menu ul li {
        list-style: none;
        cursor: pointer;        
        transform: translateY(-32rem);
        transition: transform 0.6s ease;
    }
    .box_Menu ul li:hover {
        color: var(--naranja);
    }
    
    #menu-toogle {
        display: none;
    }
    
    .rayas {
        background: var(--grisclaro);
        height: 5px;
        width: 35px;
        margin: 5px;
        transition: transform 0.5s;
        border-radius: 0.6rem;
        box-shadow: 2px 2px 2px 1px var(--negro);
    }
        
    .menu_Hamburguesa {
        position: fixed;
        top: 0.8rem;
        left: 1rem;
        cursor: pointer;
        transition: 0.3s ease;
        z-index: 99;
    } 

    .menu_Hamburguesa:hover div {
        background: var(--naranja);
    }
    
    .menu-toogle:checked ~ .box_Menu {
        height: 16rem;
        width: 90%;
        background:var(--grisoscuro);
        z-index: 1;
        opacity: 95%;
        position: fixed;
        left: 1rem;
        top: 7.5rem;
        border-radius: 1.2rem;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        transition: all ease 0.3s;
    }
  
    .menu-toogle:checked ~ label {
        left: 0rem;
    }
    
    .menu-toogle:checked ~ .box_Menu ul li {
        transform: translateY(0rem);
        opacity: 1;
        text-align: center;
    }
    
    .menu-toogle:checked ~ label > div:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 18px;
        background: var(--naranja);      
    }
      
      .menu-toogle:checked ~  label > div:nth-child(2) {
        opacity: 0;
    }
      
      .menu-toogle:checked ~ label > div:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -20px;
        background: var(--naranja);       
    }
    .li_Menu a {
        text-decoration: none;
        color: var(--negro);
        font-size: 1.2rem;
        font-family: var(--font2);
    }
    .li_Menu {
        padding: 0.5rem;
        text-align: center;
    }
    .logo {
        border-radius: 50%;
        width: 6rem;
        margin-left: 8rem;
        margin-top: 1rem;
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        transition: all ease 0.3s;
        animation-direction: alternate;
        box-shadow: 2px 2px 2px 1px var(--naranja);
    }
     /* ---------------------------------- */
     .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 92%;
        background: rgb(245, 245, 245);
        margin-top: -4rem;
        border-radius: 1rem;
        
    }
      /* --------------footer-------------------- */
      .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

    }
     /* ---------------------------------- */

     
}

